.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer--text {    
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 200px;
}
